main {
  margin: 3rem auto 0;
}

.services {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.service {
  background-color: #0097b2;
  /* height: 15rem; */
}

.service-img {
  width: 100%;
}

.service-text {
  padding: 1rem;
}

.service-text p {
  margin-top: 1rem;
}

/* #paradontologija {
  background-image: url(../assets/paradontologija.png);
  background-size: contain;
  background-repeat: no-repeat;
} */

.about {
  width: 85%;
  margin: 3rem auto;
  color: #0097b2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.about-img-container {
  text-align: center;
  align-self: center;
}

.about-img {
  max-height: 550px;
}

.about-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title {
  font-size: 1.75rem;
}

.about-subtitle {
  color: #97b200;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.about-text {
  margin-top: 2rem;
  color: black;
}

.hours-contact {
  background-color: #0097b2;
  margin: 3rem auto 0;
}

.info-section {
  width: 85%;
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.location {
  background-color: #33acc1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.leaflet-container {
  height: 100%;
  z-index: 1;
}

.compani-info {
  background-color: #33acc1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 1rem;
}

.compani-info-inner {
  display: grid;
  gap: 1rem;
}

.compani-info-title {
  margin-bottom: 1rem;
}

.contact-us {
  background-color: #33acc1;
  padding: 1rem;
  border-radius: 1rem;
}

.email-form {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#name {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#phone {
  grid-row: 1 / 2;
  grid-column: 2 / span 1;
}

#title {
  grid-row: 2 / 3;
  grid-column: 1 / span 2;
}

#message {
  grid-row: 3 / 4;
  grid-column: 1 / span 2;
}

.email-form input,
.email-form textarea {
  background-color: #33acc1;
  border: 1px solid white;
  border-radius: 50px;
  padding: 0.5rem;
  color: white;
}
.email-form textarea {
  height: 10rem;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  outline: none;
}

::placeholder {
  color: white;
}

.action {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
}

.phone-btn {
  background-color: #97b200;
  position: relative;
}

.phone-btn div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.phone-btn-inner a {
  text-decoration: none;
  color: inherit;
}

.email-btn:hover {
  box-shadow: none;
}

.phone-btn:hover {
  box-shadow: none;
  color: #97b200;
}

.phone-hidden {
  display: inline-block;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: -300%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.phone-btn-inner:hover {
  box-shadow: 5px 5px 20px silver;
}

.close {
  min-width: 77px;
  text-align: center;
}
