:root {
  --color-primary: #2f4f4f;
  --color-secondary: #ff4500;
  --color-text: #f5f5f5;
  --color-tertiary: #5f9ea0;
  --header-margin: 1em;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1600 - 320)));
  color: var(--color-text);
}

.container {
  padding: 1em;
}

.cta {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 1em;
  background-color: var(--color-secondary);
  color: var(--color-text);
  width: fit-content;
  min-width: 6em;
  text-align: center;
  user-select: none;
  display: block;
}

.cta:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--color-text);
  color: var(--color-secondary);
}

.accent {
  color: var(--color-secondary);
  text-shadow: 1px 1px 0 var(--color-primary), -1px -1px 0 var(--color-primary),
    -1px 1px 0 var(--color-primary), 1px -1px 0 var(--color-primary);
}

.hidden {
  visibility: hidden;
}

footer {
  background-color: var(--color-primary);
  padding: 2em;
  text-align: center;
}

.back-to-top {
  width: 40px;
  height: 40px;
  text-align: center;
  align-content: center;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  color: var(--color-secondary);
  font-size: 1.5rem;
  font-weight: bold;
  position: fixed;
  bottom: 3%;
  right: 3%;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.back-to-top:hover {
  background-color: var(--color-secondary);
  color: var(--color-text);
}
