@media (max-width: 400px) {
  .action {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .sticky-mobile {
    position: unset;
  }

  .header {
    padding: 0 5em;
  }

  .header-contact {
    display: flex;
  }

  .logo {
    display: flex;
  }

  .logo-img {
    width: 80px;
  }

  .hamburger {
    display: none;
  }

  .navbar {
    margin-left: auto;
    margin-right: unset;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 1em;
    font-weight: bold;
    background-color: unset;
    visibility: visible;
    padding: 0;
  }

  .navbar-item-link {
    color: var(--color-primary);
  }

  .drop-down {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -100px;
    display: none;
    background-color: white;
  }

  .drop-down .navbar-item {
    padding: 0.7em 1em;
    width: 200px;
  }

  .navbar-item {
    position: relative;
    align-items: center;
  }

  .drop-down .navbar-item::after {
    content: "";
    width: 70%;
    border-bottom: 1px solid silver;
    position: absolute;
    top: 100%;
  }

  .drop-down .navbar-item:last-of-type::after {
    border-bottom: none;
  }

  #navbar-services:hover .drop-down {
    display: block;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  .container {
    margin: 0 3em;
  }

  .info-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-us {
    grid-column-start: span 2;
  }
}

@media (min-width: 992px) {
  .hero-content {
    flex-direction: row;
    justify-content: center;
  }

  .hero-text {
    flex-basis: 40%;
  }

  .services {
    grid-template-columns: repeat(3, 1fr);
  }

  .about {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .about-content {
    flex-basis: 50%;
  }
}

@media (min-width: 1200px) {
  .info-section {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact-us {
    grid-column-start: unset;
  }
  .services {
    grid-template-columns: repeat(4, 1fr);
  }
  .container {
    margin: 0 5em;
  }
}

@media (min-width: 1600px) {
  .container {
    margin: 0 10em;
  }
}
